  .panel {
  margin-bottom: 30px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mini-box {
  min-height: 105px;
  padding: 20px;
}

.mini-box2 {
 /* min-height: 105px;*/
  padding: 8px;
}

.mini-box .box-icon {
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  line-height: 65px;
  vertical-align: middle;
  text-align: center;
  font-size: 35px;
}

.bg-info {
  background-color: transparent;
  color: #fff;
}

.size-h2 {
  font-size: 20px;
}

.text-muted {
  color: #777;
}