<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Slim Application</title>
	<link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">
	<link rel="stylesheet" href="{{ base_url() }}/assets/css/app.css">
</head>
<body>
	{# {% include 'templates/partials/navigation.twig' %} #}
	<div class="container">
		{% block content %}{% endblock %}
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</body>
</html>