{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row artisan">
    	<div class="col-md-4">
    		
    	</div>

    	<div class="col-md-4">
    		<h1>Artisan</h1>
    	</div>

    	<div class="col-md-4">
    		
    	</div>
    </div>
{% endblock %}